#headline= "Contact"

#user.content_window
	.header= link_to "Contact Details", "javascript:void(0)", :class => 'open', :title => "open / close"
  	
	.inner
	
		.avatar= image_tag "dummy_user.jpg", :width => "120"
		.main_text= "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
