-present @user do |user_presenter|

#headline= "Contact"

#user.content_window
	.header= link_to "Contact Details", "javascript:void(0)", :class => 'open', :title => "open / close"
  	
	.inner
	
		.avatar= user_presenter.avatar_big
		.main_text= user_presenter.userinfo


