#blog.content_window
	.header= link_to "Blog", "javascript:void(0)", :class => 'open', :title => "open / close"
  	
	.inner
	
		#post_form= render 'post_form_fields'
		
		#postlist.page= render @posts
	    	
			