#main_content_area {
	margin-top: 20px;
	padding-top: 10px;
	margin-bottom: 30px;
}

.navbar {
	#avatar {
		img {
				height: 32px;	
		}
	}
	.navbar-inner {
		padding-top: 5px;
	}

}

h1 {
	margin-bottom: 20px;
}

.bottom-spacer {
	display: block;
	min-height: 30px !important;
}