/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

@mixin shadow {
	-moz-box-shadow: inset 0 3px 6px rgba(0,0,0,.6);
	-webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.6);
 	box-shadow: inset 0 3px 6px rgba(0,0,0,.5);
}

@mixin round {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

@mixin ambos_white {
	text-shadow: 0 1px #FFFFFF;
}

@mixin ambos_black {
	text-shadow: 0 1px #000000;
}

body {
	background-image: linear-gradient(left , rgb(44,47,56) 36%, rgb(50,54,65) 50%);
	background-image: -o-linear-gradient(left , rgb(44,47,56) 36%, rgb(50,54,65) 50%);
	background-image: -moz-linear-gradient(left , rgb(44,47,56) 36%, rgb(50,54,65) 50%);
	background-image: -webkit-linear-gradient(left , rgb(44,47,56) 36%, rgb(50,54,65) 50%);
	background-image: -ms-linear-gradient(left , rgb(44,47,56) 36%, rgb(50,54,65) 50%);

	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0.36, rgb(44,47,56)),
		color-stop(0.5, rgb(50,54,65))
	);
	color: #bbbec3;
	font-family: helvetica;
}

#container {
	
	#more_results {
		background-color: #333742;
		color: #D5D6D6;
		@include round;
		border: 0;
		border: 1px solid #2E323D;
		padding: 5px;
		-moz-box-shadow: 2px 2px 5px #222;
		-webkit-box-shadow: 2px 2px 5px #222;
		box-shadow: 2px 2px 5px #222;
	}
	
	#more_results:hover {
		background-color: #555D6A;
		cursor:pointer;
		@include round;
		padding: 5px;
	}

}
#main_menu span.title {
	font-size: 17px;
}

a {
	text-decoration: none;
	color: #bbbec3 !important;
}

a:focus, a:active, a
{
	outline: none;
	-moz-outline-style: none;
}


#topline {
	height: 85px;
	background-color: #333742;
	position: fixed;
	top:0px;
	left:0px;
	width: 100%;
	color: #f6f8f7;
	z-index: 1;
}

#topline #avatar {
	width: 48px;
	height:48px;
	position: fixed;
	left: 20px;
	top: 20px;
}

#topline #userinfo {
	height:48px;
	padding-top: 10px;
	position: fixed;
	left: 80px;
	top: 20px;
}

#topline #userinfo .username a{
	font-size: 16px;
	font-weight: bold;
	color: #F6F8F7 !important;
}

#topline #userinfo .username a:hover{
	border-bottom: 1px dotted;
}
#topline #userinfo #mails{
	font-size: 12px;
	font-weight: normal;
}

#topline #toolbar {
	height:35px;
	width: 70px;
	position: fixed;
	left: 170px;
	top: 30px;
}

#topline #toolbar a {
	float: left;
}

#settings_link {
	display: block;
	width: 35px;
	height: 35px;
	background: url("settings_icon.png") no-repeat;
}
#settings_link:hover {
	background: url("settings_icon_over.png") no-repeat;
}
#logout_link {
	background: url("logout_icon.png") no-repeat 2px 0px;
	display: block;
	width: 35px;
	height: 35px;
}
#logout_link:hover {
	background: url("logout_icon_over.png") no-repeat;
}



#main_menu {

	width: 200px;
	position: absolute;
	left: -20px;
	top: 100px;

}
#main_menu ul{
	list-style:none;
	list-style-type: none;
}

#main_menu ul li{
	height: 50px;
	padding: 20px 0 10px 20px;
	width: 200px;
	background-image: none;
}
#main_menu ul li .sub_info{
	padding-top: 10px;
	font-size: 12px;
}

#main_menu ul li.active{
	background: url("menu_bg.png") no-repeat;
	color: #f5f5f5;
}


#content {
	background-color: #d7d8dd;
	width: 500px;
	height: 500px;
	display:block;
	margin: 0px 10px 0px 250px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	z-index: 2;
	position: relative;
	overflow: auto;
	
	#loading {
		position: fixed;
		top: 10px;
		right: 20px;
		border: 1px dotted red;
		color: red;
		padding: 2px;
		background-color: white;
		display: none;
	}
	
}
span.not_logged_in {
	position: absolute;
	left: 20px;
	top: 30px;
}
#content .content_window {
	background-color: #555d6a;
	width: 500px;
	display:block;
	float: left;
	margin: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	z-index: 2;
	position: relative;
	-moz-box-shadow: inset 0 5px 6px rgba(0,0,0,.6);
	-webkit-box-shadow: inset 0 5px 6px rgba(0,0,0,.6);
 	box-shadow: inset 0 5px 6px rgba(0,0,0,.5);
	border-bottom: 1px solid #FFFFFF;
	color: #F6F8F7;
	
	.table_search {
		margin: 20px 0 0 20px;
		width: 200px;
		height: 16px;
		@include round;
		@include shadow;
		border: 0;
		border-bottom: 1px solid #F5F5F5;
		padding:2.5px;
		background-color: #4c545e;
		color: #F5F5F5;
	}
	
	
	.edit_links {
    position: absolute;
    right: 10px;
		bottom: 10px;
  }

	#calendar {
		
		table {
			width: 70%;
			th, td {
				height: 20px;
				width: 95px;
				margin: 5px;
			}
			
			td {
				height: 85px;
				width: 75px;
				//border: 1px solid;
				@include round;
				position: relative;
				padding: 10px;
				background-color: #474d59;
				
				.calendar_day {
					width: 10px;
					height: 15px;
					margin: -35px 0 0 -5px;
				}
				
			}
			
			td:hover, td:active {
				background-color: #84c065 !important;
				cursor: pointer;
			}
			
			td.weekend {
				background-color: #4e5662;
			}
			td.notmonth {
				background-color: #535b68;
			}
			td.today {
				border: 1px solid #84c065;
			}
			
			
		}
		
		
	}
	
}



table.pretty {
	
	border-collapse: collapse;
	
	th, td {
		padding-right: 20px;	
	}
	
	td {
		border-top: 1px solid #bcbec2;			
	}
	
	a {
		border-bottom: 0 !important;
	}
	
}

#content .content_window .header{
	height: 20px;
	border-bottom: 1px solid #d7d8dd;
	text-indent: 20px;
	padding: 14px 0px 6px 0;
	width: 100%;
	
}
#content .content_window .header a{
	width: 98%;
	font-size: 18px;
	color: #f5f5f5;
	display: block;
	border-bottom: 0 !important;
	@include ambos_black;
}
#content .content_window .header a.open{
	background: url("arrow_up.png") no-repeat right center;
}
#content .content_window .header a.closed{
	background: url("arrow_down.png") no-repeat right center;
}
#content .content_window .inner {
	padding: 20px;
	height: inherit;
	position: relative;
	
}
#content .blogpost .author  {
	position: relative;
	
}

#content .blogpost .author .avatar, #content .blogpost .author .userinfo, #content .comments  .author .avatar{
	position: absolute;
	top: 0px;
	left: 20px;
}

.post {
	
	position: relative;
	
	a {
		color: #3F4146 !important;
		border-bottom: 1px dotted !important;
	}
	
	.edit {
		position: absolute;
		bottom: 5px;
		right: 10px;
		font-size: 10px;
	}
	
	
}

a:hover {
	background-color: none !important;
}
#content .blogpost { 
	 border-top: 1px solid;
    margin-top: 10px;
    padding-top: 10px;
	background: url("post_marker.png") no-repeat 20px 68px;
}
#content .inner .first_post { 
	border-top: none !important;
    margin-top: 0 !important;

}


#content .blogpost .author .userinfo, #content .comments  .author .userinfo{ 
	left: 60px;
	top: 0px;
	color: #f5f5f5;
	position: absolute;
}


.fullsize {
	width: 80% !important;
	background-image: linear-gradient(right , rgb(116,122,130) 28%, rgb(72,80,92) 85%);
	background-image: -o-linear-gradient(right , rgb(116,122,130) 28%, rgb(72,80,92) 85%);
	background-image: -moz-linear-gradient(right , rgb(116,122,130) 28%, rgb(72,80,92) 85%);
	background-image: -webkit-linear-gradient(right , rgb(116,122,130) 28%, rgb(72,80,92) 85%);
	background-image: -ms-linear-gradient(right , rgb(116,122,130) 28%, rgb(72,80,92) 85%);

	background-image: -webkit-gradient(
		linear,
		right top,
		left top,
		color-stop(0.28, rgb(116,122,130)),
		color-stop(0.85, rgb(72,80,92))
	);
}

#content .blogpost .author .userinfo .time{ 
	font-size: 13px;
	
}
#content .blogpost .post, #content .comments{ 
	font-size: 12px;
	color: #3f4146;
	background-color: #e7e8e8;
	padding: 10px;
	margin-top: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	
}



#yield {
	color: #63666d;
	padding: 10px;
	
	a {
		color: #63666d !important;
		border-bottom: 1px dotted;
	}
	
	.content_window a {
		color: #BBBEC3 !important;
	}
	
	.content_window a.blue {
		color: #3eb1e7 !important;
		border-bottom: 0;
	}
	
	.post a {
		color: #63666d !important;
	}
	
	.header a {
		color: #F6F8F7 !important;
	}
	
	.author a {
		border-bottom: 0;
	}
	
	h1 {
		padding-left:10px;
		@include ambos_white;
		position: relative;
		
		span.projectnr {
			font-size: 50px;
		}
		
		span.clientname, span.projectname {
			font-size: 20px;
			position: absolute;
			left: 130px;
			top: -10px;
		}
		
		span.projectname {
			top: 10px;
		}
		
	}
	
}

#content .blogpost .post .title{ 
	font-size: 14px;
	font-weight: bold;
	background-color: #d5d6d6;
	padding: 5px;
	margin-bottom: 10px;
	
}
#content .blogpost .post .category{ 
    display: block;
    float: left;
    font-size: 11px;
    font-weight: normal;
    margin: -5px 10px 0 -5px;
    padding: 5px;
	border-right: 1px solid #3f4146;
}
#content .blogpost .post .important{ 
	background-color: #cc4242 !important;
}
#content .blogpost .post .tutorial{ 
	background-color: #6fb44e !important;
}
#content .blogpost .post .info {
    background-color: #e8bf5b !important;
}


#content .comments {
position: relative;
background-color: #2e323d;
color: #d5d6d6;
margin-left: 65px;
position: relative;
width: 373px;
}

#content .comments .comment {
  padding-bottom: 5px;
  position: relative;
  border-bottom: 1px solid #d5d6d6;
  margin-top: 10px; 
}

.clear {
	clear: both;
}

.userinfo span {
	line-height: 12px !important;
	
}

#flash_notice, #flash_error, #flash_alert, p.notice, p.error {
  padding: 5px 10px;
  margin: 20px 0 0 0;
  text-indent: 20px;
}

#flash_notice, p.notice {
  background: url("true.png") 10px center no-repeat #CFC;
  border: solid 1px #6C6;
  text-indent: 20px;
  color: green;
 
}

.new_object_link {
	background: url("add.png") no-repeat 1px 1px;
	padding-left: 20px;
}

#flash_error, #flash_alert {
  border: solid 1px #C66;
  color: #f13333;
  background: url("false.png") 10px center no-repeat #FCC;
  text-indent: 20px;
}
#headline {
    font-size: 22px;
    font-weight: bold;
    margin: 15px 0;
    text-align: center;
}

#content .comments .comment .author {
	width: 30%;
	float: left;
}
#content .comments .comment .comment_body {
    float: right;
    width: 64%;
}

#content .comments .leave_comment {
	margin-top: 10px;
}

#content .comments .leave_comment input.comment_form{
	width: 295px;
	margin-bottom: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #333;
	height: 20px;
	border:0;
	color: #d5d6d6;
	-moz-box-shadow: inset 0 5px 6px rgba(0,0,0,.6);
	-webkit-box-shadow: inset 0 5px 6px rgba(0,0,0,.6);
 	box-shadow: inset 0 5px 6px rgba(0,0,0,.5);
 	text-indent: 5px;
}
