// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post_single_view {
	padding: 10px;
}

#load_more {
	margin: 10px 0 5px 10px;
	
	#load_more_image {
		display:none;
		margin: 0 0 10px 220px;
		
	}
	
	
}

.blogpost .post {
	
	img {
		max-width: 439px;
	}
	
}

.comment img {
	max-width: 239px;
}