// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content_window {

  dl {
    clear: both;
  }

  dt {
    float: left;
    font-weight: bold;
    text-align: right;
    width: 120px;
  }

  dd {
    margin-left: 135px;
  }

  dd p:first-child {
    margin-top: 0;
  }

  dd, dt {
    padding-top: 20px;
  }

  .none {
    color: #999;
  }

	.clear {
		clear: both;
	}

}


.simple_form .avatar {
	margin: 5px 0 5px 121px;
}