<ul>
	<li class="active">
		<a href="#">Home / Blog</a><br/>
		<span class="sub_info">
		bla blab bla
		
		</span>
	</li>
	<li>
		<a href="#">Projects</a><br/>
		<span class="sub_info">
		bla blab bla
		
		</span>
	</li>
	<li>
		<a href="#">Timetracking</a><br/>
		<span class="sub_info">
		bla blab bla
		
		</span>
	</li>
	<li>
		<a href="#">Contacts</a><br/>
		<span class="sub_info">
		bla blab bla
		
		</span>
	</li>

</ul>